<p id="notice"><%= notice %></p>
<p><%=link_to 'personal information',:controller => :users,:action => :information%></p>
<h1>Listing Questions</h1>
<div align="center">
  <p>
  <%=form_tag :controller => "questions",:action => "search",:method => :post do%>
  <%=text_field_tag :text,:z,:placeholder => "Please input what you need here",:autofocus=>"true",:value =>"",:style =>"width:800px;height:30px"%>
  <p>
  author<%=radio_button_tag "type","author",:checked%>
  field<%=radio_button_tag "type","field"%>
  keyword<%=radio_button_tag "type","keyword"%>
  <%=submit_tag "search"%>
  </p>
  <%end%>
  </p>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Questionuser</th>
      <th>Article</th>
      <th>Field</th>
      <th>Filepath</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.questionuser %></td>
        <td><%= question.article.title %></td>
        <td><%= question.field %></td>
        <td><%= question.filepath %></td>
        <td><%= question.likes.count %></td>
        <td><%= link_to 'Show',{:action => "show",:qid => question.id} %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
<%=form_tag({:controller=> "articles",:action =>"upload"},:multipart =>"true")%>
<p><label for="upload_file">选择上传文件</label>
    <%= file_field("file", "filedata")%>
    <%= submit_tag '提交' %></p>
</p>


<%= link_to 'Click here to ask a new question!!', {:controller => "questions",:action => "new" }%>
