<p id="notice"><%= notice %></p>

<div class="col-md-9">
<h1 style="text-align:left;">Questions List</h1>
<!--table class="table table-hover">
<p><%=link_to 'personal information',:controller => :users,:action => :information%></p>
<h1>Listing Questions</h1>
<div align="center">
  <p>
  <%=form_tag :controller => "questions",:action => "search",:method => :post do%>
  <%=text_field_tag :text,:z,:placeholder => "Please input what you need here",:autofocus=>"true",:value =>"",:style =>"width:800px;height:30px"%>
  <p>
  author<%=radio_button_tag "type","author",:checked%>
  field<%=radio_button_tag "type","field"%>
  keyword<%=radio_button_tag "type","keyword"%>
  <%=submit_tag "search"%>
  </p>
  <%end%>
  </p>
</div-->
<table class="table table-hover">
  <thead>
    <tr style="color:#337ab7;">
      <th>Title</th>
      <th>Asker</th>
      <th>Paper</th>
      <th>Field</th>
      <th>Likes</th>
      <th>Create</th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><a class="btn btn-link" href="/questions/show?qid=<%= question.id %>"><%= question.title %></a></td>
        <td><a class="btn btn-link" href="/users"><%= question.questionuser %></a></td>
        <td><%= question.article.title %></td>
        <td><%= question.field %></td>
        <td><div class="badge"><%= question.likes.count %></div></td>
        <td><%= question.created_at %></td>
        <td><%= question.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-3">
  Interested Field
  Interested People
</div>

<br>
<div align="center">
  <p>
  <%=form_tag :controller => "questions",:action => "search",:method => :post do%>
  <%=text_field_tag :text,:z,:placeholder => "Please input what you need here",:autofocus=>"true",:value =>"",:style =>"width:800px;height:30px"%>
  <p>
  author<%=radio_button_tag "type","author",:checked%>
  field<%=radio_button_tag "type","field"%>
  keyword<%=radio_button_tag "type","keyword"%>
  <%=submit_tag "search"%>
  </p>
  
  <%end%>
  </p>
</div>
