<div class="row">
  <div class="col-md-1"></div>
  
  <div class="col-md-5"> 
  <p align="left">
    <h1>New Question</h1>
    <%=form_tag :controller =>"questions",:action => "addquestion",:method =>:post do %>
    Title of your question<%=text_field_tag :text,:empty,:autofocus =>"true",:value => "",:class => "form-control"%>    
    <br/>
    Field of your question<%=select_tag :sid,options_for_select([['computer',1],['software',2],['internet',3]],1),:class => "form-control"%>
    <br/>
    The name of the article<%=text_field_tag :atext,:empty,:value => "",:class => "form-control"%>
    </p>
    <p align="left">
    content<br/>
    
    <textarea id="answer_content" name="content" class="form-control" rows="7"></textarea>
    </p>
    <%=submit_tag "ask", class: "btn btn-primary"%>
    <% end %>
   </div>
  <div class="col-md-4"></div>
