<h1>New Question</h1>

<%=form_tag({:controller =>"questions",:action => "addquestion"},:multipart => "ture") do%>
<p align="center">
Title of your question<%=text_field_tag :text,:empty,:autofocus =>"true",:value => "",:style =>"width:400px;height:30px"%>    
Field of your question<%=select_tag :field,options_for_select([['computer','computer'],['software','software'],['internet','internet']],'computer')%>
<br><br>
The name of the article<%=text_field_tag :atext,:empty,:value => "",:style =>"width:500px;height:30px"%>
<br><br>
The article of your question<%=file_field("file","filedata")%>
<br>
The author of the article<%=text_field_tag :author,:empty,:value => "",:style =>"width:400px;height:30px"%>
</p>
<p align="center">
content<br>
<%=text_area_tag :content,params[:content],:style =>"width:400px;height:200px"%>
</p>
<%=submit_tag "submit"%>
<% end %>

<%= link_to 'Back', :controller =>"questions",:action =>"index"%>
<div class="row">
  <div class="col-md-1"></div>
  
  <div class="col-md-5"> 
  <p align="left">
    <h1>New Question</h1>
    <%=form_tag({:controller =>"questions",:action => "addquestion"},:multipart => "ture") do%>
    
    Title of your question<%=text_field_tag :text,:empty,:autofocus =>"true",:value => "",:class => "form-control"%>    
    <br/>
    The name of the article<%=text_field_tag :atext,:empty,:value => "",:class => "form-control"%>
    </p>
    The article of your question<%=file_field("file","filedata")%>
    <br/>
    The author of the article<%=text_field_tag :author,:empty,:value => "",:class => "form-control"%>
    <br/>
    Field of your question<%=select_tag :field,options_for_select([['computer','computer'],['software','software'],['internet','internet']],'computer'),:class => "form-control"%>
    <br/>
    <p align="left">
    content<br/>
    
    <textarea id="answer_content" name="content" class="form-control" rows="7"></textarea>
    </p>
    <%=submit_tag "ask", class: "btn btn-primary"%>
    <% end %>
   </div>
  <div class="col-md-4"></div>
