<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-8">
<p><%=@id%></p>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Questionuser:</strong>
  <%= @question.questionuser %>
</p>

<p>
  <strong>Articleid:</strong>
  <%= @question.article_id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @question.field %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @question.likes.count %>
</p>

<h4><p style="text-align:left;">Answers</p></h4>
<div class="list-group">
  <% @answers.each do |answer| %>
<<<<<<< HEAD
  <div class="list-group-item">
    <h4 class="list-group-item-heading answeruser"><%= answer.answeruser %></h4>
    <div class="answer_content">
      <div><%= answer.content %></div>
      <!--div align="left">level:<%=answer.level %><br>Time</div-->
    </div>
    <div class="row">
      <div class="col-md-8">
        <span class="answer_time"><%= answer.created_at %></span>
      </div>
      <div class="col-md-4">
        <div class="answer_actions" align="right">
          <span class="badge"><%=answer.likes.count%></span>
          <a class="answer_actions" href="/answers/like?aid=<%= answer.id%>"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
          
        </div>
        <!--%=button_to "like it!",{:controller =>"answers",:action => "like",:aid =>answer.id}%-->
        <!--div style="float:right" align="center"><%=button_to "reply",{:controller =>"answers",:action =>"reply",:alevel =>answer.level}%></div-->
        <a style="float:right" class="answer_actions" href="/answers/reply?alevel=<%= answer.level%>"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
        <a class="answer_actions" href="/answers/reply#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        <a class="answer_actions" href="/answers/reply#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
=======
  <thead>
    <tr>
      <th align="left">level:<%=answer.level %><br>Time<%= answer.created_at %></th>
      <th align="left">Answeruser</th>
      <th align="right">like:<%=answer.likes.count%></th>
      <th align="center"><%=button_to "reply",{:controller =>"answers",:action =>"reply",:alevel =>answer.level}%></th>
    </tr>
  </thead>
  
  <tbody>
       <tr>
         <td></td>
         <td><%= answer.answeruser %></td>
         <td><%= answer.content %></td>
         <%if(Like.where(:user_id=>session[:user_id]).where(:answer_id => answer.id).count==0)%>
         <td align="right"><%=button_to "like it!",{:controller =>"answers",:action => "like",:aid =>answer.id}%></td>
         <%else%>
         <td align="right"><%=button_to "cancel like!!",{:controller =>"answers",:action => "like",:aid =>answer.id}%></td>
         <%end%>
       </tr>
  </tbody>
>>>>>>> yyt
  <% end %>
</div>

<br>
<<<<<<< HEAD
    <hr>
    <h1><label>您有什么看法？</label><h1>
    <%=form_tag  :action => "addanswer",:method => :post do%>
    <p>
    <%=text_area_tag :content,params[:content],:innerText =>"sads",:style =>"width:400px;height:200px;" %>
    </p>
    <%=submit_tag "submit" %>
    <% end %>
  <p><%= link_to 'Back', questions_path %></p>
</div>

<div class="col-md-3">
  related questions
</div>
</div>
=======
<hr>
<%if(@question.state==1)%>
<h1>The Question is banned by the owner!<h1>
<%else%>  
<h1><label>您有什么看法？</label><h1>
    <%if(Like.where(:user_id=>session[:user_id]).where(:question_id => session[:qid]).count==0)%>
      <p align="right"><%=button_to "like this question!",{:controller =>"questions",:action => "like"}%></p>
    <%else%>
      <p align="right"><%=button_to "cancel like this question!!",{:controller =>"questions",:action => "like"}%></p>
    <%end%>
<%=form_tag  :action => "addanswer",:method => :post do%>
<p>
<%=text_area_tag :content,params[:content],:innerText =>"sads",:style =>"width:400px;height:200px;" %>
</p>
<%=submit_tag "submit" %>
<% end %>
<% end %>
<p>
<%= link_to 'Back', questions_path %>
</p>
>>>>>>> yyt
