<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :keyword %><br>
    <%= f.text_field :keyword %>
  </div>
  <div class="field">
    <%= f.label :publication %><br>
    <%= f.text_field :publication %>
  </div>
  <div class="field">
    <%= f.label :field %><br>
    <%= f.text_field :field %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :obligate1 %><br>
    <%= f.text_field :obligate1 %>
  </div>
  <div class="field">
    <%= f.label :obligate2 %><br>
    <%= f.text_field :obligate2 %>
  </div>
  <div class="field">
    <%= f.label :obligate3 %><br>
    <%= f.text_field :obligate3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
