<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @field.level %>
</p>

<p>
  <strong>Fatherid:</strong>
  <%= @field.fatherid %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
